<div class="px-4 pe-6 overflow-y-auto" style="height: 99%;">
    <h3 class="font-bold text-2xl mb-6 text-gray-800">Filtros de búsqueda</h3>
    <form id="searchForm">
        <div class="mb-6">
            <label class="block font-semibold mb-4 text-gray-800">Estoy buscando...</label>
            <div class="w-100 flex flex-col gap-4">
                <app-input-radio [inputValue]="'Perro'" [labelContent]="'Perro'"
                    [checked]="petSearchData.animalType === 'Perro'" (inputValueChange)="selectInputValue($event)"
                    class="block w-100">
                </app-input-radio>
                <app-input-radio [inputValue]="'Gato'" [labelContent]="'Gato'"
                    [checked]="petSearchData.animalType === 'Gato'" (inputValueChange)="selectInputValue($event)"
                    class="block w-100">
                </app-input-radio>
                <app-input-radio [inputValue]="'Otro'" [labelContent]="'Otro'"
                    [checked]="petSearchData.animalType === 'Otro'" (inputValueChange)="selectInputValue($event)"
                    class="block w-100">
                </app-input-radio>
            </div>
        </div>
        <div class="mb-6">
            <label for="sex" class="block font-semibold text-gray-800 mb-4">Sexo:</label>
            <div class="w-full flex gap-4 items-center">
                <app-input-radio [inputValue]="'Macho'" [labelContent]="maleIcon"
                    [checked]="petSearchData.sex === 'Macho'" (inputValueChange)="selectInputValue($event)"
                    class="block w-2/4">
                </app-input-radio>
                <app-input-radio [inputValue]="'Hembra'" [labelContent]="femaleIcon"
                    [checked]="petSearchData.sex === 'Hembra'" (inputValueChange)="selectInputValue($event)"
                    class="block w-2/4">
                </app-input-radio>
            </div>
        </div>
        <div class="mb-6">
            <label for="age" class="block font-semibold mb-4 text-gray-800">Edad:</label>
            <div class="ps-2">
                <app-checkbox [labelText]="'Cachorro (Hasta 1 año)'" class="block mb-4"></app-checkbox>
                <app-checkbox [labelText]="'Joven (De 1 a 3 años)'" class="block mb-4"></app-checkbox>
                <app-checkbox [labelText]="'Adulto (De 3 a 7 años)'" class="block mb-4"></app-checkbox>
                <app-checkbox [labelText]="'Senior (Más de 7 años)'" class="block"></app-checkbox>
            </div>
        </div>
        <div class="mb-6">
            <label for="size" class="block font-semibold mb-4 text-gray-800">Tamaño:</label>
            <div class="ps-2">
                <app-checkbox [labelText]="'Pequeño'" class="block mb-4"></app-checkbox>
                <app-checkbox [labelText]="'Mediano'" class="block mb-4"></app-checkbox>
                <app-checkbox [labelText]="'Grande'" class="block mb-4"></app-checkbox>
                <app-checkbox [labelText]="'Extra Grande'" class="block"></app-checkbox>
            </div>
        </div>
        <div class="mb-6">
            <app-breed-selector [animalType]="this.petSearchData.animalType"></app-breed-selector>
        </div>
        <div class="mb-6">
            <label class="block text-gray-800 font-semibold mb-2">Estado de Salud:</label>
            <app-checkbox [labelText]="'Sin necesidades especiales'"></app-checkbox>
        </div>
    </form>
</div>