<form [formGroup]="addressForm">
    <div class="mb-6">
        <app-postal-code-selector [postalCode]="postalCode" [submitted]="submitted"
            [municipalityPostalCodes]="municipalityPostalCodes" [postalCodes]="postalCodes"
            (postalCodeChange)="setPostalCode($event)" (resetSearch)="resetSearch()">
        </app-postal-code-selector>
    </div>
    <div class="mb-6">
        @if (provinceRequiredError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Debe escoger una provincia</small>
        </div>
        }
        @if (provinceLengthError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Cantidad incorrecta de caracteres</small>
        </div>
        }
        @if (provincePatternError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Nombre de provincia incorrecto</small>
        </div>
        }
        @if (provinceIncludedError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Provincia no encontrada</small>
        </div>
        }
        <app-select-input [multiple]="false" [placeholder]="'Provincia'" [options]="provinces"
            [inputStyles]="'bg-gray-100 border border-gray-200'" [globalStyles]="'z-20'" [selectedOption]="province"
            (singleInputValue)="onProvinceChosen($event)" [inputError]="provinceError()">
        </app-select-input>
    </div>
    <div class="mb-6">
        @if (municipalityRequiredError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Debe escoger un municipio</small>
        </div>
        }
        @if (municipalityLengthError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Cantidad incorrecta de caracteres</small>
        </div>
        }
        @if (municipalityPatternError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Nombre de municipio incorrecto</small>
        </div>
        }
        @if (municipalityIncludedError()) {
        <div class="py-1">
            <small class="text-xs text-rose-500">Municipio no encontrado</small>
        </div>
        }
        <app-select-input [multiple]="false" [placeholder]="'Municipio'" [options]="municipalities"
            [inputStyles]="'bg-gray-100 border border-gray-200'" [globalStyles]="'z-10'" [selectedOption]="municipality"
            (singleInputValue)="onMunicipalityChosen($event)" [inputError]="municipalityError()">
        </app-select-input>
    </div>
    <div>
        @if (addressRequiredError()) {
            <div class="py-1">
                <small class="text-xs text-rose-500">Debe proporcionar una dirección</small>
            </div>
            }
            @if (addressLengthError()) {
            <div class="py-1">
                <small class="text-xs text-rose-500">Cantidad incorrecta de caracteres</small>
            </div>
            }
            @if (addressPatternError()) {
            <div class="py-1">
                <small class="text-xs text-rose-500">La dirección proporcionada no es válida</small>
            </div>
            }
        <input formControlName="address" 
            class="input bg-gray-100 border border-gray-200" 
            [ngClass]="{'border-rose-500 focus:border-rose-500': addressError()}" 
            placeholder="Dirección" />
    </div>
</form>