<form [formGroup]="addressForm">
    <div class="mb-6">
        @if (isPostalCodeInvalid('postalCode') && af['postalCode'].errors) {
            @if (af['postalCode'].errors['requiered']) {
                <div class="py-1">
                    <small class="text-xs text-rose-500">Debe introducir un código postal</small>
                </div>
            }
            @if (af['postalCode'].errors['minLength'] || af['postalCode'].errors['maxLength']) {
                <div class="py-1">
                    <small class="text-xs text-rose-500">El código postal debe tener cinco dígitos</small>
                </div>
            }
            @if (af['postalCode'].errors['pattern']) {
                <div class="py-1">
                    <small class="text-xs text-rose-500">Código postal no válido</small>
                </div>
            }
            @if (af['postalCode'].errors['isNotIncluded']) {
                <div class="py-1">
                    <small class="text-xs text-rose-500">Código postal no encontrado</small>
                </div>
            }
        }
        @if (municipalityPostalCodes && municipalityPostalCodes.length > 1) {
        <app-select-input [multiple]="false" [placeholder]="'Código Postal'" [options]="municipalityPostalCodes"
            [inputStyles]="'bg-gray-100 border border-gray-200'" [globalStyles]="'z-30'"
            [inputError]="(isPostalCodeInvalid('postalCode'))" [selectedOption]="postalCode"
            (singleInputValue)="searchPostalCode($event)" (input)="searchPostalCode($event)">
        </app-select-input>
        } @else {
        <input type="text" name="postalCode" class="input bg-gray-100 border border-gray-200"
            placeholder="Código Postal" formControlName="postalCode" [value]="addressForm.value.postalCode" (input)="searchPostalCode()">
        }
    </div>
    <div class="mb-6">
        <app-select-input [multiple]="false" [placeholder]="'Provincia'" [options]="provinces"
            [inputStyles]="'bg-gray-100 border border-gray-200'" [globalStyles]="'z-20'" [selectedOption]="province"
            (singleInputValue)="onProvinceChosen($event)">
        </app-select-input>
    </div>
    <div class="mb-6">
        <app-select-input [multiple]="false" [placeholder]="'Municipio'" [options]="municipalities"
            [inputStyles]="'bg-gray-100 border border-gray-200'" [globalStyles]="'z-10'" [selectedOption]="municipality"
            (singleInputValue)="onMunicipalityChosen($event)">
        </app-select-input>
    </div>
    <div>
        <input formControlName="address" class="input bg-gray-100 border border-gray-200" placeholder="Dirección" />
    </div>
</form>