<nav class="fixed top-0 left-0 w-full bg-white z-30">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 border-b">
        <div class="flex h-16 items-center justify-between">
            <div class="w-40">
                <a routerLink="/inicio">
                    <img class="w-auto" src="assets/brand/logo.svg" alt="App Logo">
                </a>
            </div>

            <div class="flex items-center sm:hidden">
                <button type="button" class="relative p-2">

                    <span class="absolute -inset-0.5" (click)="toggleMenu()"></span>

                    @if (!isMenuOpen) {
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="rgb(75 85 99)"
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                    } @else {
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="rgb(75 85 99)"
                            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z" />
                    </svg>
                    }

                </button>
            </div>
        </div>

    </div>

    @if (isMenuOpen) {
    <div appClickOutside (clickOutside)="onClickedOutside()">
        <div class="absolute w-full bg-white rounded p-4 py-6 shadow-lg">
            @for (menuItem of menuItems; track menuItem; let index = $index) {
            <a routerLink="{{menuItem.route}}" class="block rounded-md p-4 font-semibold"
                (click)="changeActiveLink(index)" [ngClass]="{
                        'bg-sky-200': currentLink === index, 
                        'text-gray-600': currentLink !== index, 
                        'mb-4 border-b border-gray-200': index === menuItems.length - 2
                    }">
                {{menuItem.label}}
            </a>
            }
        </div>
    </div>
    }
</nav>