<section>
    <div class="p-8">
        <div class="mb-6">
            <img src="assets/imgs/pets/pet1.png" alt="Pet 1" class="rounded">
        </div>
        <div class="ps-2 pb-6 mb-6 border-b border-gray-300">
            <h2 class="font-popSemiBold text-2xl font-bold text-gray-800">¡Hola, soy <span class="text-sky-600">Roberto</span>!</h2>
        </div>
        <div class="ps-2 pb-6 mb-6 border-b border-gray-300">
            <div>
                <div class="flex gap-2 mb-2">
                    <h6 class="text-gray-800 text-sm font-semibold">Raza: </h6>
                    <span class="text-gray-800 text-sm">Común europeo</span>
                </div>
                <div class="flex gap-2 mb-2">
                    <h6 class="text-gray-800 text-sm font-semibold">Sexo: </h6>
                    <span class="text-gray-800 text-sm">Hembra</span>
                </div>
                <div class="flex gap-2 mb-2">
                    <h6 class="text-gray-800 text-sm font-semibold">Edad: </h6>
                    <span class="text-gray-800 text-sm">2 años</span>
                </div>
                <div class="flex gap-2 mb-2">
                    <h6 class="text-gray-800 text-sm font-semibold">Tamaño: </h6>
                    <span class="text-gray-800 text-sm">Pequeño</span>
                </div>
                <li class="flex gap-2 mb-2">
                    <h6 class="text-gray-800 text-sm font-semibold">Tarifa: </h6>
                    <span class="text-gray-800 text-sm">20€</span>
                </li>
            </div>
        </div>
        <div class="ps-2">
            <h4 class="font-bold text-lg text-gray-800">Y soy...</h4>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</section>