<div class="p-8">
    <form class="">
        <div class="mb-6">
            <input
                class="input bg-gray-100 border border-gray-200"
                placeholder="Código Postal" />
        </div>
        <div class="mb-6">
            <app-select-input 
                [multiple]="false"
                [placeholder]="'Provincia'"
                [options]="provinces" 
                [styles]="'bg-gray-100 border border-gray-200'"
                (singleInputValue)="onProvinceChosen($event)">
            </app-select-input>
        </div>
        <div class="mb-6">
            <input [disabled]="!isProvinceSelected"
                class="input bg-gray-100 border border-gray-200"
                placeholder="Municipio" />

            <app-select-input 
                [multiple]="false"
                [placeholder]="'Provincia'"
                [options]="municipalitiesProvince[selectedProvince]" 
                [styles]="'bg-gray-100 border border-gray-200'"
                (singleInputValue)="onMunicipalityChosen($event)">
            </app-select-input>
        </div>
        <div class="mb-6">
            <input
                class="input bg-gray-100 border border-gray-200"
                placeholder="Dirección" />
        </div>
    </form>
</div>