<div>
    <h4 class="font-bold text-md text-gray-800 mb-2">Más sobre mí</h4>
    <div>
        <p class="text-sm text-gray-800 mb-2">
            ¡Hola! Me llamo Roberto y soy un gato de 2 años en busca de un hogar lleno de amor. Me encontraron
            en un parque, donde sobreviví gracias a la bondad de algunas personas que me daban de comer.
        </p>
        <p class="text-sm text-gray-800 mb-2">
            Me encanta jugar con pelotas y descansar en lugares soleados. Soy cariñoso, sociable y me llevo bien
            con otros gatos y niños.
        </p>
        <p class="text-sm text-gray-800">
            Si estás buscando un compañero fiel y lleno de ternura, ¡yo soy tu gato
            ideal!
        </p>
    </div>
</div>