<div class="relative w-full" data-carousel="slide">

    <div class="overflow-hidden rounded-lg mb-4">
        @for(pet of pets; track pet; let index = $index) {
        <div [ngClass]="{'hidden': currentIndex !== index, 'block': currentIndex === index}"
            class="duration-700 ease-in-out" data-carousel-item>
            <img src="{{pet.src}}" alt="{{pet.alt}}" class="block w-full object-cover aspect-square">
        </div>
        }
    </div>

    <div class="flex items-center justify-center gap-4">
        <button type="button"
            class="flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
            <span (click)="onPrev()"
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-slate-200">
                <svg class="w-4 h-4 text-white"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 1 1 5l4 4" />
                </svg>
            </span>
        </button>

        <div class="w-100 flex justify-center gap-2">
            @for(pet of pets; track pet; let index = $index) {
            <button type="button" class="w-3 h-3 rounded-full" (click)="onChange(index)"
                [ngClass]="{'bg-blue-600': currentIndex === index, 'bg-gray-300': currentIndex !== index}"></button>
            }
        </div>

        <button type="button"
            class="flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
            <span (click)="onNext()"
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-slate-200">
                <svg class="w-4 h-4 text-white"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>

    </div>



</div>