<section>
    <div class="p-4 pt-12 d-flex flex-col">
        <div class="mb-4">
            <img src="assets/resources/banner2.png" alt="">
        </div>
        <div class="flex flex-col items-center py-2 text-center">
            <h1 class="font-heading text-gray-800 text-4xl font-bold mb-4">Encuentra tu Mejor Amigo</h1>
            <p class="font-bold text-gray-800 mb-4">¡Adopta una mascota y regala una mejor vida!</p>
            <button class="btn btn-sky flex items-center justify-between gap-3" (click)="redirect()">
                <span>Comenzar búsqueda</span>
                <svg class="w-4 flex items-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="rgb(226 232 240)" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
        </div> 
    </div>
</section>