@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PoppinsBlack';
    src: url(/assets/fonts/Poppins/Poppins-Black.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  }
}


@layer base {
  @font-face {
    font-family: 'PoppinsBold';
    src: url(/assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'PoppinsSemiBold';
    src: url(/assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  }
}

.input {
  @apply w-full px-6 py-4 rounded-lg text-sm outline-none placeholder-gray-500 focus:border-sky-600 focus:bg-white;
}

.btn {
  @apply py-3 px-6 rounded font-semibold;
}
.btn-sky {
  @apply bg-sky-600 text-slate-100;
}
.btn-sky:hover {
  @apply bg-sky-500 text-slate-50;
}
.btn-light {
  @apply border border-sky-600 text-sky-600;
}
.btn-light:hover {
  @apply bg-sky-500 text-slate-50;
}
