<div class="relative" appClickOutside (clickOutside)="onClickedOutside()">
    <label for="breed" class="block font-semibold mb-2">Raza:</label>
    <input type="text" class="w-full px-4 py-2 border border-gray-600 rounded-lg outline-none" placeholder="Buscar raza"
        [(ngModel)]="searchText" (input)="onSearchChange(searchText)" (focus)="showDropDown()">
    @if (isInputFocused) {
    <div class="absoulte w-full bg-white border border-t-0 border-gray-600 rounded-lg max-h-80 z-10 p-6">
        <div class="max-h-64 overflow-y-auto">
            @for (breed of filteredBreeds; track breed) {
            <app-checkbox [labelText]="breed" class="block mb-4"
                (checkChange)="toggleBreedCheck($event, breed)"></app-checkbox>
            }
        </div>
    </div>
    }
    @if (selectedBreeds.length > 0) {
    <div class="py-4">
        <div class="shadow-lg bg-slate-100 w-full border rounded p-4 flex flex-wrap gap-4">
            @for (selectedBreed of selectedBreeds; track selectedBreed) {
            <div class="inline-block bg-sky-200 flex items-center gap-1 rounded-md border-gray-200 p-1 px-2">
                <span>
                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="rgb(55 65 81)"
                            d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                    </svg>
                </span>
                <span class="text-xs text-gray-700">{{selectedBreed}}</span>
            </div>
            }
        </div>
    </div>
    }
</div>