<div>
    <label class="block font-semibold mb-2">Raza:</label>

    @if (animalType === "Perro") {
    <app-select-input [options]="dogBreeds" (inputValue)=" onBreedsReceived($event)"></app-select-input>
    } @else if (animalType === "Gato") {
    <app-select-input [options]="catBreeds" (inputValue)=" onBreedsReceived($event)"></app-select-input>
    } @else {
    <app-select-input (inputValue)="onBreedsReceived($event)"></app-select-input>
    }

    @if (selectedBreeds && selectedBreeds.length > 0) {
    <div class="py-4">
        <div class="shadow-lg bg-slate-100 w-full border rounded p-4 flex flex-wrap gap-4">
            @for (selectedBreed of selectedBreeds; track selectedBreed) {
            <div class="inline-block bg-sky-200 flex items-center gap-1 rounded-md border-gray-200 p-1 px-2">
                <span>
                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="rgb(55 65 81)"
                            d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                    </svg>
                </span>
                <span class="text-xs text-gray-700">{{selectedBreed}}</span>
            </div>
            }
        </div>
    </div>
    }
</div>