<section>
    <div class="p-8 px-10">
        <div class="mb-6">
            <img src="assets/imgs/pets/pet1.png" alt="Pet 1" class="rounded">
        </div>
        <div class="px-2 pb-6 mb-6 border-b border-gray-300">
            <h2 class="font-popSemiBold text-xl font-bold text-gray-800">
                ¡Hola, soy <span class="text-sky-600">Roberto</span>!
            </h2>
        </div>
        <div class="pb-6 mb-6 border-b border-gray-300">
            <div class="mb-6">
                <div class="flex justify-between pb-2 px-2 mb-2 border-b border-gray-100">
                    <h6 class="text-gray-800 text-sm font-semibold">Raza: </h6>
                    <span class="text-gray-800 text-sm text-end">Común europeo</span>
                </div>
                <div class="flex justify-between pb-2 px-2 mb-2 border-b border-gray-100">
                    <h6 class="text-gray-800 text-sm font-semibold">Sexo: </h6>
                    <span class="text-gray-800 text-sm text-end">Macho</span>
                </div>
                <div class="flex justify-between pb-2 px-2 mb-2 border-b border-gray-100">
                    <h6 class="text-gray-800 text-sm font-semibold">Edad: </h6>
                    <span class="text-gray-800 text-sm text-end">2 años</span>
                </div>
                <div class="flex justify-between pb-2 px-2 mb-2 border-b border-gray-100">
                    <h6 class="text-gray-800 text-sm font-semibold">Tamaño: </h6>
                    <span class="text-gray-800 text-sm text-end">Pequeño</span>
                </div>
            </div>
            <div class="w-full flex flex-col gap-4">
                <div class="max-w-80">
                    <button class="w-full btn btn-sky">
                        <div class="flex items-center justify-center gap-2">
                            <span class="text-sm">¡Adopta a Roberto!</span>
                            <span>
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z"
                                        fill="#F1F5F9" />
                                </svg>
                            </span>
                        </div>
                    </button>
                </div>
                <div class="max-w-80">
                    <button class="btn btn-light w-full max-w-80">
                        <div class="flex items-center justify-center gap-2">
                            <span class="text-sm">Apadrina a Roberto</span>
                            <span>
                                <svg class="w-6 h-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="rgb(2 132 199)"
                                        d="M17.726 13.02 14 16H9v-1h4.065a.5.5 0 0 0 .416-.777l-.888-1.332A1.995 1.995 0 0 0 10.93 12H3a1 1 0 0 0-1 1v6a2 2 0 0 0 2 2h9.639a3 3 0 0 0 2.258-1.024L22 13l-1.452-.484a2.998 2.998 0 0 0-2.822.504zm1.532-5.63c.451-.465.73-1.108.73-1.818s-.279-1.353-.73-1.818A2.447 2.447 0 0 0 17.494 3S16.25 2.997 15 4.286C13.75 2.997 12.506 3 12.506 3a2.45 2.45 0 0 0-1.764.753c-.451.466-.73 1.108-.73 1.818s.279 1.354.73 1.818L15 12l4.258-4.61z" />
                                </svg>
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="pb-6 mb-6 border-b border-gray-300">
            <app-pet-characteristics></app-pet-characteristics>
        </div>
        <div class="pb-6 mb-6 border-b border-gray-300">
            <app-pet-special-requirements></app-pet-special-requirements>
        </div>
        <div class="pb-6 mb-6 border-b border-gray-300">
            <app-pet-health-details></app-pet-health-details>
        </div>
        <div class="pb-6 mb-6 border-b border-gray-300">
            <app-pet-about></app-pet-about>
        </div>
        <div class="pb-6 mb-6">
            <app-pet-location-card></app-pet-location-card>
        </div>
    </div>
</section>